@{
    ViewBag.Title = "Страница не найдена";
    Layout = "~/Views/Shared/ErrorPage.cshtml";
}
<div class="errorpage">
    <i class="fa fa-frown-o fa-4x"></i>
    <h1>404</h1>
    <p>страница не найдена</p>
    <h5>Вероятно что-то пошло не так или вы ошиблись адресом.<br/>Указанной страницы не существует<br/><br/><a href="/" class="btn btn-sm btn-primary">Вернуться на главную</a></h5>
</div>
