

<div class="modal fade bs-example-modal-sm" id="partnerPassModal" tabindex="-1" data-backdrop="static"
     data-keyboard="false" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                <h4 class="modal-title" id="mySmallModalLabel">Задайте пароль для входа в систему</h4>
            </div>
            <div class="modal-body">
                @Html.Action("RegBlockPartnerPasswordPartial")
            </div>
        </div>
    </div>
</div>
