<div class="modal fade bs-example-modal-sm" id="graphCreate" tabindex="-1" data-backdrop="static"
     data-keyboard="false" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div id="GraphForm"></div>
    </div>
</div>